<footer class="section-footer">
  <div class="container footer">
    <div class="footer-send-mess">
      <div class="footer-contact">
        <h2 class="footer-contact-title-1"><span>NEWSLETTER</span></h2>
        <h2 class="footer-contact-title-2">Get the latest news on new arrivals, gifts, special offers and other discount information.</h2>
      </div>
      <div class="footer-contact-mess">
        <input type="text" placeholder="Enter your email address* ">
        <button>SUBSCRIBE</button>
      </div>
    </div>
    <div class="footer-contact-2">
      <div class="footer-contact-list">
        <h4  class="mb-3">ABOUT</h4>
        <P>Our store is more than just another average online retailer. We sell not only top quality products, but give our
          customers a positive online shopping experience. We work to make your life more enjoyable.</P>
      </div>
      <div class="footer-contact-list">
        <h4 class="mb-3">INFORMATION</h4>
        <a >About us</a>
        <a >Customer Service</a>
        <a >Privacy Policy</a>
        <a >Contact Us</a>
        <a >FAQ</a>
        <a >Blog</a>
      </div>
      <div class="footer-contact-list">
        <h4 class="mb-3">WHY BUY FROM US</h4>
        <a >Shipping & Delivery</a>
        <a >Secure payment</a>
        <a >Guarantee</a>
        <a >Terms & Conditions</a>
      </div>
      <div class="footer-contact-list">
        <h4 class="mb-3">FACEBOOK</h4>
        <iframe name="f1783710912f808" width="500px" height="215px" data-testid="fb:page Facebook Social Plugin"
                title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true"
                scrolling="no" allow="encrypted-media"
                src="https://www.facebook.com/v2.8/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3ead1cd76b5124%26domain%3Dtemplate65070.motopreview.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Ftemplate65070.motopreview.com%252Ff2da71851036878%26relation%3Dparent.parent&amp;container_width=270&amp;height=215&amp;hide_cover=false&amp;hide_cta=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FOrigami-Feed-2234881956542410%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline&amp;width=500"
                style="border: none; visibility: visible; width: 270px; height: 215px;" class="">
        </iframe>
      </div>
    </div>
    <div class="footer-contact-3">
      <div class="footer-copyright">
        <p>© 2020 SoundBizarre. All Right Reserved.</p>
      </div>
      <div class="footer-pay">
        <a class="footer-pay-logo"><i class="fa-brands fa-cc-visa"></i></a>
        <a class="footer-pay-logo"><i class="fa-brands fa-cc-mastercard"></i></a>
        <a class="footer-pay-logo"><i class="fa-brands fa-cc-amex"></i></a>
        <a class="footer-pay-logo"><i class="fa-brands fa-cc-paypal"></i></a>
        <a class="footer-pay-logo"><i class="fa-brands fa-cc-stripe"></i></a>
        <a class="footer-pay-logo"><i class="fa-brands fa-cc-discover"></i></a>
      </div>
    </div>

  </div>

</footer>

