* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #3aada9 !important;
    height: 100vh;
    display: flex;
    margin: auto;
}

.form-sign-up {
    width: 400px;
    height: 700px;
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    justify-content: center;
    /* align-items: center; */
    background-color: #fff;
    position: relative;
}

.form-login {
    width: 100%;
}

.form-login-header {
    width: 100%;
    background-color: #702c91;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.form-login-header::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -30px;
    border-color: #702c91 transparent transparent transparent;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
}

.form-login-header span {
    font-size: 30px;
    font-weight: 600;
}

.form-login-header i {
    font-size: 25px;
}

.form-login-input {
    padding: 20px;
}

.form-login-input .set-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.form-label {
    margin: 0 !important;
}

.form-login-input .set-row input {
    border-radius: 0px !important;
    height: 40px;
    outline: none !important;
}

.form-login-input .set-row input:focus {
    outline: none !important;
    border: none;
}

.form-login-input .set-row label {
    height: 40px;
    background-color: #702c91;
    color: #fff;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.form-check-input {
    border-radius: 0 !important;
    outline: none !important;
}

.check {
    padding: 30px;
}

.check .form-check span {
    color: #702c91;
    cursor: pointer;
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.btn-color {
    background-color: #702c91 !important;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 0 !important;
    width: 100%;
}

.login {
    padding: 30px;
    text-align: center;
    padding-top: 0 !important;
}

.login span {
    color: #702c91;
    cursor: pointer;
}