<header class="section-header">
<div class="header">
  <div class="container">
    <span class="header-icon"><i class="fa-solid fa-phone-flip"></i></span>
    <a data-action="call" class="header-contact">(123) 456-7890</a>
    <span>Round-the-clock free hotline (24/7)</span>
  </div>
  <div class="container">
    <span class="header-icon"><i class="fa-solid fa-clock"></i></span>
    <span>&nbsp; Hours: 7 days a week from 9:00 am to 7:00 pm</span>
  </div>
  <div class="container menu-list">
    <ul class="header_menu-list">
      <li class="header_menu-item"><a routerLink="/">Home</a></li>
      <li class="header_menu-item"><a routerLink="/about-us">About us</a></li>
      <li class="header_menu-item"><a routerLink="/contacts">Contacts</a></li>
      <li class="header_menu-item"><a routerLink="/blog">Blog</a></li>
    </ul>
  </div>
</div>
<div class="header-page">
  <div class="header-page-fl">
    <div class="link-home">
      <div class="link-home-page">
        <a routerLink="/">
          <span class="link-home-page-color">SOUND</span>BIZARRE
        </a>
      </div>
      <div class="link-home-page-img">
        <a routerLink="/"><img src="./assets/img/mt-1309_header_logo01.png" alt=""></a>
      </div>
    </div>
    <div class="link-home">
      <form action="" method="GET" accept-charset="utf-8" class="search-form">
        <label class="search-form_label">
          <input type="text" name="keyword" autocomplete="off" placeholder="Search product" class="search-form_input" [(ngModel)]="searchTerm" (keyup)="search($event)"><span
          class="search-form_liveout"></span>
        </label>
        <span class="search-form_submit" (click)="setKeySearch(searchTerm)" routerLink="/search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
      </form>
    </div>
    <div class="link-home">
      <div class="link-home-account-buy">
        <div class="link-home-wel">
          <p>Welcome to our online store!</p>
        </div>
        <div class="link-home-user">
          <ul class="store-cart_and_profile">
            <li class="store-cart_and_profile-user">
              <a routerLink="/shopping-cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="store-cart_and_profile-user-list">
                    (
                    <span ng-bind="widget.items_in_compare">{{totalItem}}</span>
                    )
                  </span>
              </a>
            </li>
            <li class="store-cart_and_profile-user">
              <a routerLink="/comparison-page">
                <i class="fa-solid fa-scale-balanced"></i>
                <span class="store-cart_and_profile-user-list">
                    (
                    <span ng-bind="widget.items_in_compare">0</span>
                    )
                  </span>
              </a>
            </li>
            <li class="store-cart_and_profile-user">
              <a routerLink="/authorization"><i class="fa-solid fa-user"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
<div class="header-nav">
  <div class="header-nav_list">
    <ul class="header-nav_list-menu-list">
      <li class="header-nav_list-content">
        <a routerLink="/accordion">
          PRO AUDIO
          <i class="fa-solid fa-angle-down"></i>
        </a>
        <ul class="header-nav_list-content-menu-sublist">
          <li class="menu-item menu-item-1">
            <a routerLink="/accordion">Winds</a>
            <ul class="header-nav_list-content-menu-sublist-2">
              <li class="menu-item">
                <a routerLink="/accordion">Woodwind</a>
              </li>
              <li class="menu-item">
                <a routerLink="/accordion">Kids</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a routerLink="/accordion">Acordion & Concertina</a>
          </li>
          <li class="menu-item">
            <a routerLink="/accordion">Hamonicas</a>
          </li>
        </ul>
      </li>
      <li class="header-nav_list-content">
        <a routerLink="/guitar">GUITARS</a>
      </li>
      <li class="header-nav_list-content">
        <a routerLink="/keyboard">KEYBOARDS & PIANOS</a>
      </li>
      <li class="header-nav_list-content">
        <a routerLink="/drum">DRUMS & PERCUSSION</a>
      </li>
      <li class="header-nav_list-content">
        <a routerLink="/amplifier">AMPLIFIERS</a>
      </li>
    </ul>
  </div>
</div>
