<div class="forgot-password">
  <div class="header-link">
    <div class="nav-list">
      <a roterLink="/" class="link-home">Home</a>
      <span>Forgot Password</span>
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      <h2 class="section-title-content">FORGOT PASSWORD</h2>
    </div>
    <div class="section-form">
      <form>
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="mb-3 send-req">
          <button class="btn text-uppercase btn-hover">Restore</button>
          <button class="btn text-uppercase btn-hover mx-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>

</div>
