<div class="forgot-password">
  <div class="header-link">
    <div class="nav-list">
      <a roterLink="/" class="link-home-product">Home</a>
      <span>Comparison Page</span>
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      <h2 class="section-title-content py-3">COMPARISON PAGE</h2>
      <h5 class="text-center text-danger">Your shopping cart is empty</h5>
      <button class="btn btn-hover" routerLink="/">CONTINUE SHOPPING</button>
    </div>
  </div>
</div>

