<div class="create-account">
  <div class="header-link">
    <div class="nav-list">
      <a roterLink="/" class="link-home-product">Home</a>
      <span>Registration</span>
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      <h2 class="section-title-content">Registration</h2>
    </div>
    <div class="section-form">
      <form>
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Repeat Password">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="exampleFirstName2" placeholder="First Name">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="exampleLastName2" placeholder="Last Name">
        </div>
        <div class="mb-3 send-req">
          <button class="btn text-uppercase btn-hover">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
