<div class="authorization">
  <div class="header-link">
    <div class="nav-list">
      <a roterLink="/" class="link-home-product">Home</a>
      <span>Authorization</span>
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      <h2 class="section-title-content">AUTHORIZATION</h2>
    </div>
    <div class="section-form">
      <form>
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="mb-3 send-req">
          <button type="submit" class="btn text-uppercase">Send</button>
          <div class="link-account">
            <a routerLink="/forgot-password">Forgot your password?</a>
            <a routerLink="/create-account">Don't have an account yet?</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
